@model EmployeeViewModel
@{
    ViewData["Title"] = "Delete";
}

<h1>Are You Sure to Delete this Employee</h1>
<br />
<br />
<form asp-action="Delete" asp-route-id="@Model.Id">

    <partial name="PartialViews/DetailsDeletePartial" />

    <input type="hidden" asp-for="ImageName"/>


    <input type="submit" value="Delete" class="btn btn-danger" />
    <a asp-action="Index" class="btn btn-outline-dark">Cancel</a>
</form>

