@model EmployeeViewModel
@{
    ViewData["Title"] = "Details";
}

<h1>Employee Details</h1>
<br />
<br />

<form asp-action="Edit" asp-route-id="@Model.Id">

    <partial name="PartialViews/DetailsDeletePartial" />


    <input type="submit" value="Edit" class="btn btn-primary" />
    <a asp-action="Index" class="btn btn-outline-dark">Back To List</a>
</form>

