@model ResetPasswordViewModel
@{
    ViewData["Title"] = "ResetPassword";
    Layout = "~/Views/Shared/_AuthLayout.cshtml";
}

<div class="main-agileinfo">
	<div class="agileits-top">
		<form action="ResetPassword" method="post">

			<input class="text " asp-for="NewPassword" placeholder="NewPassword" required="">
			<input class="text email" asp-for="ConfirmPassword" placeholder="Confirm Password" required="">
			
			<input type="submit" value="ResetPassword">
		</form>
	</div>
</div>

@section validationScriptSection {
	<partial name="_ValidationScriptsPartial" />
}

